<div class="container">
	<h1 class="mt-2">List of Books</h1>
	<button type="button" class="btn btn-outline-primary mb-2" (click)="createBook()">Add Book</button>
	<table class="table table-bordered">
	  <tr>
	  	<th>ID</th>
	  	<th>Book Title</th>
	  	<th>Category</th>
	  	<th></th>
	  	<th></th>
	  </tr>
	 	<tr *ngFor="let book of bookList">
	 		<td>{{ book._id }}</td>
	 		<td>{{ book.title }}</td>
	 		<td>{{ book.category }}</td>
	 		<td><button class="btn btn-primary" routerLink="/manage/book/add/{{ book._id }}">Edit</button></td>
	 		<td><button class="btn btn-danger" (click)="deleteBook(book._id)">Delete</button></td>
	 	</tr>
	</table>
</div>